.avtar{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.avtar .img{
    border-radius: 2px solid blue;

}